.container {
  --border: #b0b0b0;
  position: relative;
  display: inline-flex;
  border: 1px solid var(--border);
  border-radius: 4px;
  align-items: center;
  min-width: 120px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  padding: 10px 16px;
  padding-right: 10px;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  color: #757575;
}

.containerActive {
  --border: var(--theme-em);
}

.fieldset {
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: calc(100% + 6px);
  border: 1px solid var(--border);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}

.legend {
  opacity: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  min-width: 120px;
  flex-direction: column;
  z-index: 1;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  border-radius: 4px;
  background-color: var(--theme-bg);
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transform: translateY(-10px);
  transition-delay: 900ms;
  transition:
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.menuOpen {
  opacity: 1;
  transform: none;
  transition-delay: 0s;
  pointer-events: initial;
}

.item {
  --ripple: #cbcbcb;
  position: relative;
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.item:hover {
  background-color: #f3f3f3;
}

.itemActive {
  background-color: #efeff3;
}

.itemActive:hover {
  background-color: #efeff3;
}

.output {
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
}

.outputActive {
  color: #111;
  opacity: 1;
}

.icon {
  margin-left: auto;
  fill: currentColor;
}

.label {
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 14px;
  bottom: 50%;
  padding: 3px;
  transform: translateY(50%);
  max-width: 80%;
  max-height: 32px;
  color: #777;
  transition:
    left 150ms cubic-bezier(0.4, 0, 0.2, 1),
    bottom 150ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.labelActive {
  position: absolute;
  bottom: 100%;
  color: #777;
  background-color: var(--theme-bg);
}

.labelActive {
  color: var(--theme-em);
}

.placeholder {
  visibility: hidden;
}
