@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'normalize.css';

:root {
  --theme-em: #1976d2;
  --theme-em-dark: #1565c0;
  --theme-bg: #fff;
  --theme-bg-dark: #f6fafd;
}

.sc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
